
<div class="jumbotron jumbotron-fluid" id="hero">
  <div class="container">
    <div class="overlay pb-5 pt-3 mt-3">
      <h1 id="headline" class="display-4 text-center">UKRAINE RUSSIA BLOG</h1>
      <h5 id="tagline" class="text-center pb-2">For people that want to understand the crisis in Ukraine</h5>
    </div>
  </div>
</div>

  <div class="row ml-4">
    <div class= "col">
      <%# <div class="mb-3"> Our blog has <%= Article.public_count %>


    <div class="row align-items-center mb-4">
        <div class="col-6">
        <%= link_to "ARTICLES", root_path, class: "font-weight-bold mr-3" %>
        <%= link_to("NEW ARTICLE", new_article_path, :method => :get, :class => "btn btn-primary") %>
        </div>
        </div>

        <div class="col-10 pl-0">
        <ul class="list-group">
          <% @articles.each do |article| %>
            <% unless article.archived? %>
              <div class="card mb-4">
                <%= link_to article.title, article, class: "card-header font-weight-bold bg-white text-dark border-0 pb-1" %>
                <div class="card-body pb-2 pt-2 text-secondary text-truncate"><%= article.body%></div>
              </div>
            <% end %>
          <% end %>
          <%# <%= page_entries_info @articles %>
          <%= paginate @articles, :class => "mb-5" %>
        </ul>
      </div>
    </div>
  </div>
<div class="jumbotron mt-5 text-white" id="support">
  <h4>Show Your Support</h4>
   <p>Give money to the IRC which helps Ukraine refugees in Poland as well as other countries in the world.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Donate</a>
  </p>
</div>

<div class = "container">
  <div class="row">
         <h2>Card-Groups</h2>
         <div class = "card-group">
            <div class = "card">
              <div class = "card-body">
                  <h5 class = "card-title">HTML</h5>
                  <p class = "card-text">
                     HTML stands for Hypertext Markup Language, and it is the most
                     widely used language to write Web Pages.
                  </p>
               </div>

               <div class = "card-footer">
                  <small class = "text-muted">Card Footer</small>
               </div>
            </div>

            <div class = "card">
               <div class = "card-body">
                  <h5 class = "card-title">CSS</h5>
                  <p class = "card-text">
                     Cascading Style Sheets, fondly referred to as CSS, is a simple
                     design language intended to simplify the process of making web
                     pages presentable.
                  </p>
               </div>
               <div class = "card-footer">
                  <small class = "text-muted">Card Footer</small>
               </div>
            </div>

            <div class = "card">
              <div class = "card-body">
                  <h5 class = "card-title">Bootstrap</h5>
                  <p class = "card-text">
                     Bootstrap is a sleek, intuitive, and powerful, mobile first
                     front-end framework for faster and easier web development.
                  </p>
               </div>





  <% @response['results'].each do |r| %>
    <li><%= r["webTitle"] %></li>
  <% end %>



<%# <%= @response.body %>




            </div>
         </div>
      </div>
