<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="overlay pb-5 pt-3 mt-3">
      <h1 id="headline" class="display-4 text-center">UKRAINE RUSSIA BLOG</h1>
      <h5 id="tagline" class="text-center pb-2">For people that want to understand the crisis in Ukraine</h5>
    </div>
  </div>
</div>

  <div class="row ml-4">
    <div class= "col">
      <%# <div class="mb-3"> Our blog has <%= Article.public_count %>


    <div class="row align-items-center mb-4">
        <div class="col-6">
        <%= link_to "ARTICLES", root_path, class: "font-weight-bold mr-3" %>
        <%= link_to("NEW ARTICLE", new_article_path, :method => :get, :class => "btn btn-primary") %>
        </div>
        </div>

        <div class="col-10 pl-0">
        <ul class="list-group">
          <% @articles.each do |article| %>
            <% unless article.archived? %>
              <div class="card mb-4">
                <%= link_to article.title, article, class: "card-header bg-white text-dark border-0 pb-1" %>
                <div class="card-body pb-2 pt-2 text-secondary text-truncate"><%= article.body%></div>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

