<div class="mt-3 ml-3">
  <h1><%= @article.title %></h1>

<form>
  <div class="form-group row ml-3">
    <div class="col-md-6">
  <p><%= @article.body %></p>

    </div>
  </div>
</form>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to 'Destroy', article_path(@article),
              method: :delete %>
    </li>
  </ul>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
